###служебные алиасы

установить переменную : уст
стандартный контейнер : сум
стандартный контейнер для рун : 2.сум
привести тело в состояние стоит : stand
команда для автохила : _команда_автохила
установить степень автохила : _автохил
назначить танка : _танк
алиас для лута : ф
кнопка : хил танка : C-C
кнопка : команда группа : f8
автолут по умолчанию (0/1) : 1
стандартная еда : пирог
еды чтобы наесться : 1
команда для использования еды : есть
стандартная вода : боч
подключение к mud.ru 110 : был
сервер к которому подключаемся этой командой : 194.87.5.70
порт к которому подключаемся этой командой : 443
подключение через прокси к тому же самому : бп
подключение к locahost : лб
порт на localhost : 443
время на подключение к серверу в секундах : 3
включение / отключение автореска : ар
включение / отключение умений типа веера : бреж
установить контейнер с рунами : _руны_брать_из
положить все руны в контейнер : _руны_в_контейнер
проверить таймер и заряды рун : _руны_проверить
посмотреть текущую статистику для рун : _статистика_рун
включить / выключить режим подбора выбитого оружия согруппников : помошник
взять свои оружия : ор
есть : хавать
пить : пить
вести не вести логи (0/1) : 1
использовать / или нет псевдо английские команды : 0
наполнить контейнер с жидкостью : _наполнить
пить черные : _питьчерные
установить контейнер для хари : _харю_брать_из
установить харевые предметы : _харя
одеть харю : _харя_одеть
снять харю : _харя_снять
показать pid процесса mmc : ид
послать команду другому окошку : f
регистрация окошек : окошко
послать команду всем окошкам : _все
послать команду всем окошкам с перерывами в 1 сек : __все
перекинуть команду на другое окошко : редирект
установить чармисов : ч
алиас для команды приказать всем : й
приказать всем помочь : йп
приказать всем следовать я : йя
приказать всем спасти : йспасти
приказать всем встать : йвст
приказать всем поя : йпоя
приказать всем взя все.труп : йт
приказать всем бро все : йб
приказать всем сожрать труп : _йсожрать
спасти всех из данного класса : реск_режима
спасти всех кто на кнопке и кого бьют : реск_последних
добавить в автореск : ареск
добавить на кнопкореск : креск
добавить на реск в определенный класс : фреск
очистить реск и реколл списки : очист
установить команду для спасения : руст
добавить в список реколла : рекал
среколить всех кто в списке : рекалвсе
команда для реколла согрупников : среколить
показать списки рекола и реска : реск
войти в пенту : вп
пентовый триггер : пент_триггер
показать время до тика : тт
сказать время то тика : гт
инициализировать статистику экспы : инициализировать_стат
заколоть, предварительно спрятавшись : закол
установить контейнер : сундук
включить / выключить поддержку псевдо английских команд : английские_команды
включить переодическое выполнение всяких случайных команд : симуляция
прибить все внутренние процессы mmc : killall
показать цвета доступные в mmc : colors
установить предметы мешающие сбежать : нефлик
сбежать, сняв эти самые предметы : беж
установить атаку, номер сразу после этого слова : ат
установить цели : ц
установить номер текущей цели : тек
атаковать все цели первой атакой : битьвсех
префикс к алиасу спелла для его заучивания : зау
префикс к алиасу спелла для его забывания : заб
префикс к алиасу спелла для забывания из рез : забр
поиск по базе : найти
установить префикс в mmc : _префикс
установить имя игрока управляещего движением этого : _управляющий
включить / выключить автолут : лут
включить / выключить автодоклад об умениях : умения
включить / выключить автооткрываниедверей : двери


