###служебные алиасы
кнопка : положить все руны в сумку : f12
кнопка : спелл в дружественную цель (снять_оцепенение например) : f1
кнопка : среколить всех : C-[
кнопка : собрать сведения об окошках : M
кнопка : спасти тех что на кнопке и кого бьют : f3
кнопка : спасти себя : f5
кнопка : среколицца, причем из всех окошек тоже попытаюцца тебя среколить : Ё
кнопка : вперед по спидволку : C-N
кнопка : назад по спидволку : C-B
кнопка : танк север : C-k8
кнопка : танк восток : C-k6
кнопка : танк запад : C-k4
кнопка : танк юг : C-k2
кнопка : идти на север : k8
кнопка : идти на восток : k6
кнопка : идти на запад : k4
кнопка : идти на юг : k2
кнопка : оглянуться : ъ
кнопка : очистить очередь команд : k-
кнопка : помочь / отступить : =
кнопка : атака 0 по текущей цели : f9
кнопка : атака 1 по текущей цели : f10
кнопка : атака 2 по текущей цели : f11
кнопка : атака 3 по текущей цели : f6
кнопка : атака 4 по текущей цели : f4
кнопка : атака 5 по текущей цели : C-V
кнопка : атака 6 по текущей цели : C-C
кнопка : атака 7 по текущей цели : C-F
кнопка : атака 8 по текущей цели : C-G
кнопка : следущая цель : C-X
кнопка : предыдущая цель : C-Z
кнопка : следующий набор целей : C-S
кнопка : предыдущий набор целей : C-A
кнопка : взять все : k+
кнопка : взять все все.труп : k/
кнопка : бро все.труп : k*
кнопка : санк танка : C-W
кнопка : призма танка : C-R
кнопка : хил танка : C-Q
кнопка : команда группа : f8

