###алиасы профессии кудесник
определение магии : определение_магии
магическая стрела : магическая_стрела
невидимость : невидимость
создать свет : создать_свет
защита : защита
сила : сила
затуманивание : затуманивание
видеть невидимое : видеть_невидимое
определение жизни : определение_жизни
медлительность : медлительность
ледяное прикосновение : ледяное_прикосновение
полет : полет
слабость : слабость
сон : сон
молчание : молчание
подчинить разум : подчинить_разум
развеять магию : развеять_магию
увеличение : увеличение
тьма : тьма
кислота : кислота
длительное молчание : длит_молчание
свет : свет
сеть : сеть
каменные руки : каменные_руки
разыскать предмет : разыскать_предмет
оцепенение : оц
групповая сила : грсила
обаяние : обаяние
призвать : призвать
групповой полет : грполет
групповая невидимость : гринвиз
воздушный щит : щит
запечатать комнату : зк
массовое молчание : мм
массовая медлительность : масс_медл
магическое зеркало : мз
звуковая волна : зв

атака 0 : оц
атака 1 : сон
атака 2 : молчание
атака 3 : слабость
атака 4 : order followers kill
атака 5 : зв
атака 6 : мм

