###алиасы профессии лекарь

легкое исцеление : ле
легкий вред : лв
создать пищу : еда
создать воду : вода
создать свет : свет
освящение : санк
слепота : сле
проклятье : про
доблесть : доб
серьезное исцеление : си
серьезный вред : св
удалить яд : удалить_яд
длит слеп : длит_слеп
критическое исцеление : крит
быстрое восстановление : бв
снять оцепенение : снять_оцепенение
определение накл : определение_наклонностей
исцеление : ис
развеять магию : развеять
групп исц : гх
призвать : призвать

атака 0 : kill
атака 1 : сле
атака 2 : про
атака 3 : гх

