###алиасы профессии волшебник
полет : полет
кислота : кислота
лед прик : лп
невид : инвиз 
сила : сила 
защита : щит
создать свет : свет
видеть невидимое : видеть_невидимое 
определение магии : определение_магии
маг стрела : мс
защитник : защитник
оцеп : оц
длит оц : доц
разв м : развеять
восстановление : восс
затуман : туман
молча : мол
р п : локейт
масс оц : моц
груп сила : групп_сила
груп освя : групп_санк
груп призм : групп_призм
груп полет : групп_полет
ангел : ангел
к к : кк
лед аура : ледяная_аура
возд аура : воздушная_аура
огн аура : огненная_аура
атака 0 : order followers kill
атака 1 : оц
атака 2 : доц
атака 3 : мол
атака 4 : мс
атака 5 : моц

