###алиасы профессии волхв
видеть невидимое;воздуха : видеть_невидимое
восстановление;движения;благости : восстановление
вред;указующего;тела : вред
вылечить слепоту;твердыни;воды;заполнения : вылечить_слепоту
гнев богов;небес;ярости;огня;погибели : гнев_богов
групповая доблесть;единения;живота;твердыни : грдоблесть
групповая невидимость;единения;лжи;живота : гринвиз
групповая сила;единения;благости;твердыни : грсила
групповая защита;единения;воздуха;порядка : грзащита
групповой полет;единения;движения;небес : грполет
групповой возврат;небес;движения;разобщения : грвозврат
доблесть;заполнения;души;твердыни : доблесть
запечатать комнату;движения;порядка : запечатать_комнату
затуманивание;воды;воздуха;отражения : затуманивание 
защита;воздуха : защита 
землетрясение;разобщения;земли : землетрясение
исцеление;созидания;тела;заполнения : ис
истощить энергию;тела;указующего;скорби : истощить_энергию
каменная кожа;твердыни;благости;земли : каменная_кожа
кислота;ярости;воды;вражды : кислота
клонирование;заполнения;созидания;души;подобия : клонирование
контроль погоды;лжи;небес : контроль_погоды
критический вред;вражды;тела;заполнения : критический_вред
критическое исцеление;заполнения;тела : крит
ледяное прикосновение;воды;небес : ледяное_прикосновение
легкий вред;воздуха;ярости : легкий_вред
легкое исцеление;сознания;заполнения : ли
магическая стрела;воздуха : магическая_стрела
массовая слепота;огня;разобщения;скорби;лжи : мс
массовое молчание;опустошения;погибели;лжи : мм
массовое проклятье;разобщения;низложения;ярости : мп
мигание;движения;отражения : мигание
молния;небес;огня : молния
молчание;лжи;тьмы;вражды : молчание
длительное молчание;указующего;покоя;души : длит_мол
заколдовать оружие;восхожденчества;огня;созидания : заколдовать_оружие
невидимость;отражения : невидимость
оцепенение;указующего;покоя;порядка;тела : оц
длительное оцепенение;указующего;низложения;погибели : длительное_оц
огненный поток;огня;хаоса;разрушения : огненный_поток
повреждение разума;низложения;указующего : повреждение_разума
быстрое восстановление;тела;сознания;твердыни : быстрое_восстановления
безумие;указующего;погибели;опустошения : безумие
призматическая аура;души;трансформации;света : па
метеоритный дождь;земли;указующего;небес;разрушения : метеоритный_дождь
огненная стрела;трансформации;ярости;огня : огненная_стрела
медлительность;хаоса;души : медлительность
ускорение;хаоса;тела : ускорение
дышать водой;воды;отражения : дышать_водой
групповое ускорение;единения;трансформации;движения : групп_ускор
внимательность;души;сознания : внимательность
вылечить лихорадку;твердыни;воды; : вылечить_лихорадку
защитник;заполнения;созидания;сознания;подобия : защитник
развеять магию;грозы;сознания; : развеять_магию
уменьшение;порядка;тела;трансформации : уменьшение
яркий блик;души;огня;ярости : яркий_блик
ледяной ветер;трансформации;воды;воздуха; : лед_ветер
переход;низложения;указующего;порядка : _переход
ледяной шторм;погибели;воды;власти;опустошения : ледяной_шторм
огненный шар;разрушения;истины;огня : огненный_шар
определение магии;воды;заполнения : определение_магии
определение наклонностей;воды : определение_накл
определение яда;воды : определение_яда
освящение;небес;благости;отражения : ос
полет;движения;небес : полет
полная слепота;тела;тьмы;лжи : полная_слепота
починка;трансформации;порядка : починка
призвать;погибели;скорби;указующего : призвать
проклятье;хляби;ярости : проклятье
снять проклятье;хляби;грозы : снять_проклятье
прыжок;движения;созидания;хаоса : прыжок
рассеять свет;тьмы;разрушения;лжи : расс_свет
разыскать предмет;истины;указующего;созидания : разыскать_предмет
серьезное исцеление;заполнения;благости : си
серьезный вред;ярости;движения : серьезный_вред
сеть;движения;хляби : сеть
сила;воздуха;заполнения : сила
слабость;сознания;души;твердыни : слабость
слепота;огня;лжи : слепота
слово возврата;сознания;хаоса;небес : слово_возврата
снять молчание;заполнения;благости : снять_молчание
снять оцепенение;движения;благости : снять_оцепенение
сон;тьмы;хаоса : сон
создать пищу;земли : создать_пищу
создать свет;огня : создать_свет
создать воду;воды : создать_вода
страх;души;лжи : страх
суд богов;богов;власти;разобщения;небес : суд
свет;света;благости : свет
тьма;тьмы;покоя : тьма
удалить яд;отражения;заполнения : удалить_яд
увеличение;тела;трансформации;движения : увеличение
увеличить жизнь;тела;заполнения;твердыни : увеличить_жизнь
цепь молний;огня;указующего;небес;хаоса : цепь_молний
яд;хляби;тьмы;вражды : яд

атака 0 : оц
атака 1 : сон
атака 2 : гнев_богов
атака 3 : слепота
атака 4 : order followers kill
атака 5 : землетрясение
атака 6 : ледяной_шторм
атака 7 : суд
атака 8 : истощить_энергию
