###служебные алиасы
подсветка : ужасном состоянии : B
подсветка : магией все входы : O
подсветка : смертельно ранен : J
подсветка : смертельно ранена : J
подсветка : тяжело ранен : L
подсветка : легко ранен : C
подсветка : Вы голодны : K
подсветка : Вас мучает жажда : K
подсветка : повалило на землю : J
подсветка : серебристая аура : H
подсветка : серебристая ауры : H

подсветка строчки : Ваш опыт повысился на [\d]+ очк[^\.]+ : P
подсветка строчки : Вы не можете отклонить атаку безоружн : P
подсветка строчки : Точное попадание : K
подсветка строчки : Меткое попадание : K
подсветка строчки : .*? зашатал.+? от богатырского удара : K
подсветка строчки : .*? пошатнул.+? от богатырского удара : C