###алиасы профессии колдун
создать свет : свет
обжиг : обжиг
дышать водой : дышать_водой
метеоритный дождь : метеоритный_дождь
сила : сила
защита : защита
видеть невидимое : видеть_невидимое
опр магии : определение_магии
невид : невидимость
гор€ : руки
полет : полет
€ркий блик : €ркий_блик
молни€ : молни€
шар мол : шарова€_молни€
кислота : кислота
молча : молчание
разв маг : разве€ть
оцепенение : оц
контроль : контроль_погоды
клон : клонирование
огненный шар : огненный_шар
гнев : гнев
суд : суд
камнепад : камнепад 
починка : починка
переход : переход
заколдовать оружие : заколдовать
лед€ной шторм : лед€ной_шторм
разыскать предмет : разыскать_предмет
огненный поток : поток

атака 0 : колд !гнев!
атака 1 : колд !о ш!
атака 2 : колд !лед в!
атака 3 : колд !молни€!
атака 4 : order followers kill
атака 5 : суд

