###алиасы профессии купец
защита : щит
создать свет : свет
проклятье : про
доблесть : доб
длит оцепенение : оц
критическое исцеление : крит
кам кожа : кк
насыщ : нас
груп защ : групп_защита
сеть : сеть
уменьшение : ум

атака 0 : order followers kill
атака 1 : оц
атака 2 : сеть
атака 3 : пнуть

