###алиасы профессии чернокнижник
ож труп : оживить_труп
под труп : поднять_труп
создать свет : свет
маг стрела : мс
лед прик : лп
прокл : про
каменная кожа : кк
разв маг : развеять
восстановление : восс
затуман : туман
защита : щит
ув жиз : ув
высосать жизнь : дрын
сеть : сеть
землетрясение : тряс
быстрое восстановление : бв
масс прокл : масс_прокл
масс страх : масс_страх
снять оцепенение : снять_оцеп
групп ускор : групп_ускор
яд : яд

атака 0 : order followers kill
атака 1 : дрын
атака 2 : мс
атака 3 : масс_страх
атака 4 : масс_прокл
атака 5 : тряс

