###алиасы профессии витязь
слепота : слепота
молчание : молчание
освящение : ос
быстрое восстановление : бв
масс молчание : масс_молчание
групп ускорение : групп_ускорение
доблесть : доблесть
проклятье : проклятье
защита от тьмы : защита_от_тьмы
глухота : глухота

атака 0 : сбить
атака 1 : пнуть
атака 2 : молчание
атака 3 : слепота
атака 4 : прокльятье
атака 5 : масс_молчание
атака 6 : высл
